@model BlobFileUplaodDownloadUsingButton.Models.ImageModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Upload Pictures here.</h1>
    @using (Html.BeginForm("SavePicture", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()


        <div class="form-group">
            <div>
            @Html.LabelFor(m=>m.FileDetails, new {@class="form-Label"})
            </div>
            <div>
            @Html.EditorFor(m=>m.File, new {@class="form-control"})
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    }

</div>




