@{
    ViewData["Title"] = "Images";
}
<h1>@ViewData["Title"]</h1>

<table>
    <tr>
        <td>
            @foreach (var img in ViewBag.ImageUrl)
            {
                <img src="@img" height="100PX" width="100PX" />

                <a href="@img" class="btn btn-primary">download</a>
                <br />
            }
            
        </td>
    </tr>
</table>


